{% extends 'base.html' %}

{% block content %}


    <div style="margin: 2rem;text-align: center">
        <h1>HTTP METHOD</h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <input type="text" name='input_text'>
            <input type="submit"
                   class="btn btn-outline-danger rounded-pill px-5">
        </form>

        {% for data in data_list %}

            <h3>{{ data.text }}</h3>

        {% endfor %}

    </div>

{% endblock %}

{#    <style>#}
{#        .testing {#}
{#            background-color: ;#}
{#            margin: 1rem;#}
{#            height: 48px;#}
{#            width: 48px;#}
{#            border-radius: .5rem;#}
{#            display: inline-block;#}
{#        }#}
{##}
{#    </style>#}
{##}
{#    <div style="height: 16rem; background-color: mediumvioletred;#}
{#    margin: 2rem; border-radius: 1rem; fonts-size: 2rem;" >#}
{#        <h1>TEXT</h1>#}
{##}
{#    <div class="testing" style="height: 48px; width: 48px">px</div>#}
{#    <div class="testing" style="height: 3rem; width: 3rem">rem</div>#}
{#    <div class="testing" style="height: 3em; width: 3em">em</div>#}
{#    <div class="testing" style="height: 30%; width: 30%">%</div>#}
{##}
{##}
{#    </div>#}






